.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}
img {
  max-height: 50px;
  border: 2px solid #fff;
  display: inline;
}

.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: white;
  color: black;
  text-align: center;
  top: -12px;
  right: 32px;
}

.nav-item {
  font-size: 16.25px;
  font-family: Lato, -apple-system;
  color: #222323;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  line-height: 1.563;
  list-style: none;
  text-rendering: optimizeLegibility;
  cursor: default;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin: 0;
  white-space: normal;
}
