.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}
img {
  height: 44px;
  border: 2px solid #fff;
  display: inline;
  border-radius: 5px;
}

.cart-no {
  position: absolute;
  height: 20px;
  min-width: 20px;
  border-radius: 50%;
  font-size: 0.8em;
  background: black;
  color: white;
  text-align: center;
  top: 5px;
  right: 32px;
}

.nav-item {
  font-size: 16px;
  font-family: Lato, -apple-system;
  color: #222323;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  line-height: 1.563;
  list-style: none;
  text-rendering: optimizeLegibility;
  cursor: default;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin: 0;
  white-space: normal;
  height: 44px;
}

.nav-link {
  height: 44px;
}

.active {
  border-bottom: 1px solid currentColor;
}
