<header
  class="
    navbar navbar-expand-md
    p-3
    px-md-4
    mb-3
    bg-primary
    shadow-sm
    sticky-top
    navbar-dark
    bg-primary
  "
>
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      ><i class="fa fa-home"></i> Gwen's Boutique</a
    >

    <div class="nav navbar-nav justify-content-center">
      <nav class="mx-auto text-uppercase" style="font-size: larger">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/shop" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Docs</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="justify-content-end d-inline-flex">
      <ul class="nav navbar-nav">
        <a class="position-relative">
          <i class="fa fa-shopping-cart fa-2x mr-5 text-dark px-2"></i>
          <div class="cart-no">5</div>
        </a>
        <li
          class="nav-item"
          *ngIf="(accountService.currentUser$ | async) == null"
        >
          <a href="#!" class="nav-link waves-effect" routerLink="/login">
            Sign in
          </a>
        </li>
        <li
          class="nav-item pl-2 mb-2 mb-md-0"
          *ngIf="(accountService.currentUser$ | async) == null"
        >
          <a
            href="#!"
            type="button"
            class="
              btn btn-outline-info btn-md btn-rounded btn-navbar
              waves-effect waves-light
            "
            routerLink="/register"
            >Register</a
          >
        </li>
      </ul>

      <div
        class="dropdown"
        *ngIf="accountService.currentUser$ | async as user"
        dropdown
      >
        <img
          src="{{ user.photoUrl || './assets/user.png' }}"
          alt="{{ user.username }}"
        />
        <a
          class="dropdown-toggle text-light px-2"
          style="text-decoration: none; font-size: medium"
          dropdownToggle
          >Welcome {{ user.knownAs || user.username | titlecase }}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a
            class="dropdown-item"
            routerLink="/member/edit"
            routerLinkActive="active"
            >Edit profile</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            routerLink="/members"
            routerLinkActive="active"
            >Matches</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/lists" routerLinkActive="active"
            >Lists</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            routerLink="/messages"
            routerLinkActive="active"
            >Messages</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            *appHasRole="['Admin', 'Moderator']"
            routerLink="/admin"
            routerLinkActive="active"
            >Admin</a
          >
          <div
            class="dropdown-divider"
            *appHasRole="['Admin', 'Moderator']"
          ></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</header>
