<header
  class="
    navbar navbar-expand-md
    py-3
    px-md-4
    shadow-sm
    sticky-top
    navbar-dark
    bg-primary
    box-outline
  "
>
  <div class="container-md">
    <a class="navbar-brand" routerLink="/">Gwen's Boutique</a>

    <div class="nav navbar-nav justify-content-center">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/shop"
            routerLinkActive="active"
            href="#"
            >Shop</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link text-white"
            target="_blank"
            href="https://app.swaggerhub.com/apis/soloproject/gwen-api/v1"
            >API</a
          >
        </li>

        <li class="nav-item">
          <div
            class="dropdown"
            [isDisabled]="(currentUser$ | async) == null"
            dropdown
          >
            <a
              *ngIf="(currentUser$ | async) == null"
              (click)="noLogin()"
              class="dropdown-toggle nav-link text-white text-muted"
              dropdownToggle
            >
              Members
            </a>
            <a
              *ngIf="(currentUser$ | async) != null"
              class="dropdown-toggle nav-link text-white"
              [class.active]="isActive('account') && !isActive('edit')"
              dropdownToggle
            >
              Members
            </a>

            <div class="dropdown-menu mt-3" *dropdownMenu>
              <a
                class="dropdown-item d-flex align-items-center py-2"
                routerLink="/account/members"
                routerLinkActive="active"
                ><i class="fa fa-users mr-3"> Member List</i></a
              >
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item d-flex align-items-center py-2"
                routerLink="/account/lists"
                routerLinkActive="active"
                ><i class="fa fa-heart mr-3"> Favorites</i></a
              >
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item d-flex align-items-center py-2"
                routerLink="/account/messages"
                routerLinkActive="active"
                ><i class="fa fa-envelope mr-3"> Messages</i></a
              >
              <div class="dropdown-divider"></div>
              <div *ngIf="currentUser$ | async as user">
                <a
                  class="dropdown-item d-flex align-items-center py-2"
                  [class.disabled]="user.roles.length == 1"
                  routerLink="/account/admin"
                  routerLinkActive="active"
                  ><i class="fa fa-unlock-alt mr-3"> Admin </i></a
                >
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="justify-content-end d-inline-flex">
      <div class="dropdown" *ngIf="currentUser$ | async as user" dropdown>
        <img
          src="{{ user.photoUrl || './assets/user.png' }}"
          alt="{{ user.username }}"
        />
        <a
          class="dropdown-toggle text-white mx-2"
          style="text-decoration: none"
          dropdownToggle
          >Welcome, {{ user.displayName || user.username | titlecase }}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a
            class="dropdown-item d-flex align-items-center py-2"
            routerLink="/account/member/edit"
            routerLinkActive="active"
            ><i class="fa fa-pencil mr-3"> Edit Profile</i></a
          >
          <div class="dropdown-divider"></div>
          <a
            routerLink="/basket"
            routerLinkActive="active"
            class="dropdown-item d-flex align-items-center py-2"
            style="height: 30px"
          >
            <a style="line-height: 14px; font-family: font-awesome">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="14px"
                fill="currentColor"
                class="bi bi-handbag mr-3"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 1a2 2 0 0 0-2 2v2H5V3a3 3 0 1 1 6 0v2h-1V3a2 2 0 0 0-2-2zM5 5H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11v1.5a.5.5 0 0 1-1 0V5H6v1.5a.5.5 0 0 1-1 0V5z"
                />
              </svg>
              View Basket
            </a>
          </a>
          <div class="dropdown-divider"></div>
          <a
            routerLink="/orders"
            routerLinkActive="active"
            class="dropdown-item d-flex align-items-center py-2"
          >
            <i class="fa fa-history mr-3"> View Orders</i>
          </a>
          <div class="dropdown-divider"></div>

          <a
            class="dropdown-item d-flex align-items-center py-2"
            (click)="logout()"
            ><i class="fa fa-sign-out mr-3"> Logout</i></a
          >
        </div>
      </div>

      <ul class="nav navbar-nav">
        <li class="nav-item" *ngIf="(currentUser$ | async) == null">
          <a
            href="#!"
            class="nav-link text-white"
            routerLink="/account/login"
            routerLinkActive="active"
          >
            Sign in
          </a>
        </li>
        <li
          class="nav-item pl-2 mb-2 mb-md-0"
          *ngIf="(currentUser$ | async) == null"
        >
          <a
            href="#!"
            class="nav-link text-white"
            routerLink="/account/register"
            routerLinkActive="active"
            >Register</a
          >
        </li>
        <li class="nav-item d-flex align-items-center">
          <a routerLink="/basket">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1.3em"
              fill="currentColor"
              class="bi bi-handbag mr-5 mx-3"
              viewBox="0 0 16 16"
              style="color: white"
            >
              <path
                d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2zm3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6h4z"
              />
            </svg>
            <div *ngIf="basket$ | async as basket" class="cart-no">
              {{ basket.items.length }}
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
