<carousel>
  <slide>
    <img
      src="https://res.cloudinary.com/dgo9obeep/image/upload/v1626263574/bgdark3_jo3tys.jpg"
      alt="third slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Pulvinar etiam non quam lacus</h3>
      <p>
        Tristique senectus et netus et malesuada fames. Rhoncus aenean vel elit
        scelerisque. Nibh tortor id aliquet lectus proin nibh nisl condimentum
        id. Malesuada nunc vel risus commodo viverra maecenas. Turpis tincidunt
        id aliquet risus. bibendum neque. Et netus e
      </p>
      <button routerLink="/account/register" class="btn btn-primary btn-lg mr-2">
        Register
      </button>
      <button
        (click)="learnMore()"
        class="btn btn-info btn-lg"
        style="margin: 5px"
      >
        Learn more
      </button>
    </div>
  </slide>
  <slide>
    <img
      src="https://res.cloudinary.com/dgo9obeep/image/upload/v1626263571/bgdark2_j6ct5l.jpg"
      alt="second slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Turpis tincidunt id aliquet risus</h3>
      <p>
        Sem fringilla ut morbi tincidunt augue interdum velit. Mauris ultrices
        eros in cursus turpis massa. Fames ac turpis egestas maecenas pharetra
        convallis.
      </p>
      <button routerLink="/account/register" class="btn btn-primary btn-lg mr-2">
        Register
      </button>
      <button
        (click)="learnMore()"
        class="btn btn-info btn-lg"
        style="margin: 5px"
      >
        Learn more
      </button>
    </div>
  </slide>
  <slide>
    <img
      src="https://res.cloudinary.com/dgo9obeep/image/upload/v1623901376/bgdee2dark_yixivo.jpg"
      alt="first slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block text-center">
      <h3>Faucibus turpis in eu mi</h3>
      <p>
        Urna porttitor rhoncus dolor purus non enim praesent elementum
        facilisis. Id cursus metus aliquam eleifend mi. Tellus pellentesque eu
        tincidunt tortor aliquam nulla facilisi cras fermentum.
      </p>
      <button routerLink="/account/register" class="btn btn-primary btn-lg mr-2">
        Register
      </button>
      <button
        (click)="learnMore()"
        class="btn btn-info btn-lg"
        style="margin: 5px"
      >
        Learn more
      </button>
    </div>
  </slide>
</carousel>
