<carousel>
  <slide>
    <img
      src="https://res.cloudinary.com/dgo9obeep/image/upload/v1623901376/bgdee2dark_yixivo.jpg"
      alt="first slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block text-center">
      <h3>Find your dress</h3>
      <p>Sign up and find the perfect clothes!</p>
      <button routerLink="/register" class="btn btn-primary btn-lg mr-2">
        Register
      </button>
      <button
        (click)="learnMore()"
        class="btn btn-info btn-lg"
        style="margin: 5px"
      >
        Learn more
      </button>
    </div>
  </slide>
  <slide>
    <img
      src="https://res.cloudinary.com/dgo9obeep/image/upload/v1626263571/bgdark2_j6ct5l.jpg"
      alt="second slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img
      src="https://res.cloudinary.com/dgo9obeep/image/upload/v1626263574/bgdark3_jo3tys.jpg"
      alt="third slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
