<div class="card bg-dark text-white">
  <img
    src="https://res.cloudinary.com/dgo9obeep/image/upload/v1623901376/bgdee2dark_yixivo.jpg"
    class="card-img"
    alt="weddingParty"
  />
  <div class="card-img-overlay" style="margin-top: 100px">
    <div class="container mt-5">
      <div style="text-align: center">
        <h1>Find your partner</h1>
        <p class="card-text">Sign up and find your matches!</p>
        <div class="text-center">
          <button routerLink="/register" class="btn btn-primary btn-lg mr-2">
            Register
          </button>

          <button
            (click)="learnMore()"
            class="btn btn-info btn-lg"
            style="margin: 5px"
          >
            Learn more
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
