<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-md-5">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="register()"
        autocomplete="off"
      >
        <h2 class="text-center text-primary">Sign up</h2>
        <hr />

        <div class="form-group mb-3">
          <label class="control-span" style="margin-right: 10px"
            >I am a:
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              class="form-check-input"
              value="male"
              formControlName="gender"
            />
            Male
          </label>
          <label class="radio-inline">
            <input
              style="margin: 5px"
              type="radio"
              value="female"
              formControlName="gender"
              class="form-check-input ml-3"
            />
            Female
          </label>
        </div>
        <div class="row g-2">
          <div class="col-md">
            <app-text-input
              formControlName="email"
              [label]="'Email address'"
              [type]="'email'"
            ></app-text-input>
            <app-text-input
              formControlName="username"
              [label]="'Username'"
            ></app-text-input>
            <app-text-input
              formControlName="displayName"
              [label]="'Display Name'"
            ></app-text-input>
            <!--- hotfix solution for CVA date-input, see comments in date-input.component.ts --->
            <div
              class="form-floating mb-3"
              [ngClass]="{
                'has-error':
                  registerForm.get('dateOfBirth')?.errors &&
                  registerForm.get('dateOfBirth')?.touched
              }"
            >
              <input
                type="text"
                placeholder="Date of birth"
                class="form-control"
                bsDatepicker
                [minDate]="minDate"
                [maxDate]="maxDate"
                [bsConfig]="bsConfig"
                formControlName="dateOfBirth"
                id="agefloat"
              />
              <label for="agefloat">Date Of Birth </label>
              <span
                class="text-danger"
                style="font-size: 0.875em"
                *ngIf="
                  registerForm.get('dateOfBirth')?.hasError('required') &&
                  registerForm.get('dateOfBirth')?.touched
                "
                >Must be at least 18 years old</span
              >
            </div>
          </div>
          <div class="col-md">
            <app-text-input
              formControlName="password"
              [label]="'Password'"
              [type]="'password'"
            ></app-text-input>
            <app-text-input
              formControlName="confirmPassword"
              [label]="'Confirm Password'"
              [type]="'password'"
            ></app-text-input>
          </div>
        </div>
        <p
          *ngIf="registerForm.valid"
          style="font-family: sans-serif; color: #333"
          class="text-center"
        >
          All inputs are valid, you can now submit your registration
        </p>
        <div class="form-group mr-2 text-center">
          <button
            [disabled]="registerForm.invalid"
            class="btn btn-success mr-2"
            type="submit"
          >
            Register
          </button>
          <button
            class="btn btn-default"
            style="margin: 5px"
            routerLink="/"
            type="button"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
