<div class="container py-3 mb-5">
  <div class="row" *ngIf="product">
    <section class="col-md-5">
      <img
        src="{{ product.pictureUrl }}"
        alt="{{ product.name }}"
        class="img-fluid w-100"
      />
    </section>
    <div class="col-md-1"></div>
    <section class="col-md-5">
      <div class="pb-3 border-bottom">
        <div class="my-3">
          <h4>{{ product.name }}</h4>
          <strong>{{ product.price | currency }}</strong>
        </div>

        <div class="my-3">
          <strong>Brand: {{ product.productBrand }}</strong>
        </div>

        <div class="my-3">
          <strong>Qty*</strong>
          <select
            class="form-select my-3"
            (change)="onQuantitySelected($event)"
            style="width: 25%"
          >
            <option *ngFor="let n of numSequence(10); let i = index">
              {{ i + 1 }}
            </option>
          </select>
        </div>

        <div class="my-4" (click)="addItemToBasket()">
          <button class="btn btn-primary btn-block" style="width: 100%">
            Add to Basket
          </button>
        </div>
      </div>

      <div class="mt-4 border-bottom">
        <div class="my-3">
          <strong>Description</strong>
          <p>{{ product.description }}</p>
        </div>
      </div>

      <div class="my-3">
        <strong>Shipping</strong>
        <table class="table">
          <thead>
            <tr class="border-bottom">
              <th scope="col" class="border-0">Method</th>
              <th scope="col" class="border-0">Shipping Time</th>
              <th scope="col" class="border-0">Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let method of deliveryMethods">
              <th scope="row">
                {{ method.shortName }}
              </th>
              <td>Arrives in {{ method.deliveryTime | lowercase }}</td>
              <td>
                {{ method.price | currency }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
