<div class="container mt-5">
  <div *ngIf="order">
    <div><i class="fa fa-check-circle fa-5x" style="color: green"></i></div>
    <h2>Your order has been confirmed. Thanks for shopping!</h2>
    <button class="btn btn-outline-success" routerLink="/orders/{{ order.id }}">
      View your order
    </button>
  </div>

  <div *ngIf="!order">
    <h2>Your order has undergone review. Thanks for shopping!</h2>
    <button class="btn btn-outline-primary" routerLink="/orders">
      View your orders
    </button>
  </div>
</div>
