<!-- <div
  class="
    d-flex
    flex-column flex-md-row
    align-items-center
    justify-content-between
    p-3
    px-md-4
    mb-3
    bg-primary
    border-bottom
    shadow-sm
    fixed-top
  "
>
  <a href="/" class="my-2 my-md-0 me-md-3 text-uppercase">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="32"
      class="me-2"
      viewBox="0 0 118 94"
      role="img"
    >
      <title>Bootstrap</title>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
        fill="currentColor"
      ></path>
    </svg>
    <span class="fs-4">Pricing example</span>
  </a>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-white text-decoration-none" href="#">Features</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
    <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a>
  </nav>
</div> -->

<!-- 
<header
    class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo">
    <nav class="my-2 my-md-0 me-md-3 text-uppercase" style="font-size: larger;">
        <a class="p-2 text-dark" href="#">Home</a>
        <a class="p-2 text-dark" href="#">Shop</a>
        <a class="p-2 text-dark" href="#">Contact</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary mr-2" href="#">Login</a>
        <a class="btn btn-outline-secondary mr-3" href="#">Sign up</a>
    </div>
</header>    -->

<header
  class="
    navbar navbar-expand-md
    p-3
    px-md-4
    mb-3
    bg-primary
    shadow-sm
    fixed-top
    navbar-dark
    fixed-top
    bg-primary
  "
>
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      ><i class="fa fa-home"></i> Gwen's Boutique</a
    >

    <div class="nav navbar-nav justify-content-center">
      <nav class="mx-auto text-uppercase" style="font-size: larger">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Docs</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="justify-content-end d-inline-flex">
      <ul class="nav navbar-nav">
        <a class="position-relative">
          <i class="fa fa-shopping-cart fa-2x mr-5 text-dark px-2"></i>
          <div class="cart-no">5</div>
        </a>
        <li
          class="nav-item"
          *ngIf="(accountService.currentUser$ | async) == null"
        >
          <a href="#!" class="nav-link waves-effect" routerLink="/login">
            Sign in
          </a>
        </li>
        <li
          class="nav-item pl-2 mb-2 mb-md-0"
          *ngIf="(accountService.currentUser$ | async) == null"
        >
          <a
            href="#!"
            type="button"
            class="
              btn btn-outline-info btn-md btn-rounded btn-navbar
              waves-effect waves-light
            "
            routerLink="/register"
            >Sign up</a
          >
        </li>
      </ul>

      <div
        class="dropdown"
        *ngIf="accountService.currentUser$ | async as user"
        dropdown
      >
        <img
          src="{{ user.photoUrl || './assets/user.png' }}"
          alt="{{ user.username }}"
        />
        <a
          class="dropdown-toggle text-light px-2"
          style="text-decoration: none"
          dropdownToggle
          >Welcome {{ user.knownAs || user.username | titlecase }}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a
            class="dropdown-item"
            routerLink="/member/edit"
            routerLinkActive="active"
            >Edit profile</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            routerLink="/members"
            routerLinkActive="active"
            >Matches</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/lists" routerLinkActive="active"
            >Lists</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            routerLink="/messages"
            routerLinkActive="active"
            >Messages</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            *appHasRole="['Admin', 'Moderator']"
            routerLink="/admin"
            routerLinkActive="active"
            >Admin</a
          >
          <div
            class="dropdown-divider"
            *appHasRole="['Admin', 'Moderator']"
          ></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</header>
