.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}
img {
  max-height: 50px;
  border: 2px solid #fff;
  display: inline;
}

.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: white;
  color: black;
  text-align: center;
  top: -12px;
  right: 32px;
}
