<!-- https://getbootstrap.com/docs/5.0/content/tables/ -->
<div class="container">
  <div class="row row-cols-md-auto">
    <div class="col-md-12">
      <h4 class="border-bottom pb-3">Order History</h4>
      <h5 *ngIf="orders?.length === 0">You haven 0 orders</h5>
      <ul class="list list-group-flush mt-3">
        <ul *ngFor="let order of orders" class="border-bottom py-3">
          <div class="row">
            <div class="col-md-5">
              <h5>{{ order.status }}</h5>
              <li><strong>Order Number</strong> #{{ order.id }}</li>
              <li>
                <strong>Date Ordered</strong> {{ order.orderDate | date }}
              </li>

              <li><strong>Order Total</strong> {{ order.total | currency }}</li>
              <li>
                <strong>Ship To</strong>
                {{ order.shipToAddress.firstName }}
                {{ order.shipToAddress.lastName }}
              </li>
              <div class="d-grid">
                <a
                  routerLink="/orders/{{ order.id }}"
                  class="btn btn-outline-primary mt-3"
                >
                  View order details
                </a>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <a
                *ngFor="let orderPicture of order.orderItems"
                routerLink="/shop/{{ orderPicture.productId }}"
                style="cursor: pointer"
              >
                <img
                  src="{{ orderPicture.pictureUrl }}"
                  alt="{{ orderPicture.productName }}"
                  class="img-fluid"
                  style="max-height: 125px"
                />
              </a>
            </div>
          </div>
        </ul>
      </ul>
      <div class="d-flex justify-content-center my-3">
        <app-pager
          [pageSize]="shopParams.pageSize"
          [totalCount]="totalCount"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </div>
  </div>
</div>
