.bottomRight {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
}

.productImage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.imgContainer:hover .productImage {
  opacity: 0.3;
}
