<div class="content text-center">
  <div class="row justify-content-center">
    <div class="col-4">
      <form (ngSubmit)="login()" #loginForm="ngForm" autocomplete="ff">
        <h2 class="text-center text-primary">Sign in</h2>

        <hr />
        <p style="font-weight: 600; font-family: sans-serif; color: #333">
          Welcome Back.
        </p>
        <p>Login in with your username and password</p>
        <div class="form">
          <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2"
            type="text"
            placeholder="Username"
          />
        </div>
        <br />

        <div class="form">
          <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2"
            type="password"
            placeholder="Password"
          />
        </div>
        <br />

        <button button class="btn btn-success" [disabled]="!model.username || !model.password"  type="submit">Sign in</button>
      </form>
    </div>
  </div>
</div>
