<div class="bg-secondary px-4 py-3 text-uppercase font-weight-bold orderTotal">
  Order Summary
</div>
<div class="p-4">
  <p class="font-italic mb-4">Shipping costs are calculated at checkout</p>
  <ul class="list-unstyled mb-4" >
    <li class="d-flex justify-content-between py-3 border-bottom">
      <span>Order subtotal</span>
      <strong>{{ subtotal | currency }}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <span c>Shipping and handling</span>
      <strong>{{ shipping | currency }}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <span>Total</span>
      <strong>{{ total | currency }}</strong>
    </li>
  </ul>
</div>
