.orderTotal {
  font-weight: bold;
  font-size: 16.25px;
  font-family: Lato, -apple-system;
  color: #222323;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  line-height: 1.563;
  list-style: none;
  text-rendering: optimizeLegibility;
  margin: 0;
  white-space: normal;
}
