<ng-container *ngIf="basket$ | async as basket">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="border-bottom">
          <th scope="col" [class.bg-secondary]="isBasket" class="border-0">
            <div class="px-3 text-uppercase">Item</div>
          </th>
          <th scope="col" [class.bg-secondary]="isBasket" class="border-0">
            <div class="text-uppercase">Price</div>
          </th>
          <th scope="col" [class.bg-secondary]="isBasket" class="border-0">
            <div class="text-uppercase">Quantity</div>
          </th>
          <th scope="col" [class.bg-secondary]="isBasket" class="border-0">
            <div class="text-uppercase">Total</div>
          </th>
          <th
            *ngIf="isBasket"
            scope="col"
            class="border-0 bg-secondary text-center"
          >
            <div class="text-uppercase">Remove</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basket.items">
          <th scope="row">
            <div class="p-2">
              <a routerLink="/shop/{{ item.id }}" style="cursor: pointer">
                <img
                  src="{{ item.pictureUrl }}"
                  alt="{{ item.productName }}"
                  class="img-fluid"
                  style="max-height: 100px"
                />
              </a>

              <div class="ml-3 d-inline-block align-top">
                <h6 class="mb-0">
                  <a routerLink="/shop/{{ item.id }}">{{ item.productName }}</a>
                </h6>
                <span class="d-block"
                  ><strong>Brand: </strong>{{ item.brand }}</span
                >
              </div>
            </div>
          </th>
          <td class="align-top">
            <strong>{{ item.price | currency }}</strong>
          </td>
          <td class="align-top">
            <div class="d-flex align-items-center">
              <i
                *ngIf="isBasket"
                (click)="decrementItemQuantity(item)"
                class="fa fa-minus-circle fa-lg mx-2"
                style="cursor: pointer"
              ></i>

              <span [class.mx-5]="!isBasket"
                ><strong>{{ item.quantity }}</strong></span
              >

              <i
                *ngIf="isBasket"
                (click)="incrementItemQuantity(item)"
                class="fa fa-plus-circle fa-lg mx-2"
                style="cursor: pointer"
              ></i>
            </div>
          </td>
          <td class="align-top">
            <strong>{{ item.price * item.quantity | currency }} </strong>
          </td>
          <td class="align-top text-center">
            <i
              *ngIf="isBasket"
              (click)="removeBasketItem(item)"
              class="fa fa-trash fa-2x"
              style="color: black; cursor: pointer"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
